.header {
  background: lightgray;
  span {
    margin: 5px 2px 5px 2px;
    vertical-align: middle;
  }
  .appName {
    font-weight: bold;
    a {
      color: #5a9ed6;
    }
  }
  .menu {
    a {
      color: black;
    }
  }
  .notice {
    color :blue;
  } 
  .search {
    .btn {
      height: 25px;
      padding: 4px 5px 5px 5px;
    }
  }
}
.alert {
  color: red;
  margin-bottom: 5px;
}
.notice {
  color: blue;
  margin-bottom: 5px;
}

.container {
  .alert {
    color: red;
  }
  #error_explanation {
    color: red;
  }
  .userImage {
    height: 70px;
    width: 50px;
  }
}