.header {
  background: lightgray;
  span {
    margin: 5px;
    vertical-align: middle;
  }
  .appName {
    font-weight: bold;
    float: left;
    margin-left: 10px;
    a {
      color: #5a9ed6;
      font-size: large;
    }
  }
  .menu {
    a {
      color: black;
      margin: 10px
    }
  }
  .notice {
    color :blue;
  } 
  .search {
    .btn {
      height: 25px;
      padding: 4px 5px 5px 5px;
    }
  }
}
.alert {
  color: red;
  margin-bottom: 5px;
}
.notice {
  color: blue;
  margin-bottom: 5px;
}

.container {
  min-width: 100%;
  ul {
    list-style: none;
  }
  div.pagination {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  div.links {
    text-align: center;
  }
  td {
    padding: 10px;
  }
  td:first-child {
    text-align: right;
  }

  .devise-registration-new, .devise-registration-edit, .devise-session-new {
    text-align: center;
    table {
      margin: 0 auto;
    }
  }
  .alert {
    color: red;
  }
  #error_explanation {
    color: red;
  }
  .devise {
    h2 {
      
    }
  }
  .userImage {
    height: 70px;
    width: 50px;
  }
}