// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-show {
  .userInfo {
    .userImage {
      margin: 5px;
      width: 120px;
      height: 140px;
      background-color: gray;
      .userImage_big {
        width: 120px;
        height: 140px;
      }
    }
    .lastLogin {
      color: red;
    }
  }
  .tweetInfo {
    .userImage {
      background-color: gray;
      width: 70px;
      height: 80px;
    }
  }
}
.devise-edit {
  .userImage {
    width: 70px;
    height: 80px;
    margin-bottom: 5px;
  }
}